footer{
    display: none;
}
.contact-me{
    li{
        padding: 10px 0;
        list-style:none;
        font-size:20px;
        .lt-icon{
            width: 30px;
            height: 30px;
            display: inline-block;
            background-size: 100%;
            background-image:url('../../images/lt-icons.png');
        }
        span{
            vertical-align: middle;
            padding-left:20px;
        }
        a{
            color:#333;
            &:hover{
                opacity:0.3;
            }
        }
    }
}
.icon-name{
    background-position-y: 60px;
}
.icon-email{
    background-position-y: 30px;
}
.icon-github{
    background-position-y: 0px;
}
.icon-homepage{
    background-position-y: 90px;
}
.icon-qq{
    background-position-y: 121px;
}