.update-time,.pv{
   color:#ccc;
}
.draft-label{
   color:#f00;
   margin-left:10px;
}
ul.article-all,ul.article-hot,ul.article-latest{
    li{
        border:1px solid transparent;
        &:hover{
            background-color:#f5f5f5;
        }
    }
}
.x_page_container{
    padding-bottom:25px;
}
a{
    color:#333;
}
