a[title=站长统计]{
	display:none;
}
body{
	background-color:#eee;
	background-image:url('../../images/bg-pattern.png');
}
a{
    color:#999;
    &:hover{
        text-decoration:none;
        color:#000;
    }
}