.click,.update-date{
	margin-right: 20px;
}
.article-desc{
	border-bottom: 1px solid #ccc;
}
.article-desc p span{
	line-height: 2;
}
.article-container{
	padding-top:20px;
}
table td{
	border:1px solid #000;
}
.capture-pic{
	border:1px solid #000;
}
.keyword-container{
	padding-top: 10px;
	border-top: 1px dashed #ccc;
	margin-top: 40px;
}
iframe{
	vertical-align:middle;
}
section.container{
	background-color:#fff;
}